@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@800&family=Poppins:wght@100;200;300;400;500;600;700;800;900;&family=Rubik:ital,wght@1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eee8e8;
  margin: 5px;
  padding: 5px;
}
.header .nav--logo__title {
  font-weight: 900;
  font-size: 25px;
}
.header .nav--logo__animate {
  font-family: "Mukta Malar", sans-serif;
  animation-name: colorChange;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  transition: 600ms;
  font-size: 18px;
}
@keyframes colorChange {
  0% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: red;
  }
  100% {
    color: blue;
  }
}
.header .nav--menu--ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.header .nav--menu__list a {
  margin: 8px;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: black;
  transition: 300ms;
}
.header .nav--menu__list a:hover {
  color: blue;
}
.header .nav--menu__list button {
  background-color: #2d2de9;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 10px;
  transition: 300ms;
}
.header .nav--menu__list button:hover {
  background-color: #2c2ca8;
}
.header .nav--menu__list button a {
  padding: 5px;
  color: white;
}
.header .nav--menu__list button a:hover {
  color: white;
}
.header .nav--menu__icon {
  display: none;
}

@media only screen and (max-width: 576px) {
  .header {
    background-color: #f9fff8;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav--logo {
    padding: 9px;
  }
  .nav--logo__title {
    color: #181616;
    font-size: 18px !important;
  }
  .nav--logo__animate {
    font-size: 10px !important;
  }

  .nav--menu {
    position: fixed;
    top: 11.5%;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #eee7e7;
    z-index: 1;
    transition: 1s;
  }
  .nav--menu--ul {
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 60%;
    margin: auto;
    background-color: #eee7e7;
  }
  .nav--menu.show {
    right: 0%;
  }
  .nav--menu__icon {
    padding: 9px;
    font-size: 25px;
    display: block !important;
  }

  .hidden {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .header {
    background-color: #f9fff8;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav--logo {
    padding: 9px;
  }
  .nav--logo__title {
    font-size: 23px !important;
  }
  .nav--logo__animate {
    font-size: 12px !important;
  }

  .nav--menu {
    display: none;
  }
  .nav--menu__icon {
    padding: 9px;
    font-size: 25px;
    display: block !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    background-color: #f9fff8;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav--logo {
    padding: 10px;
  }
  .nav--logo__title {
    font-size: 25px !important;
  }
  .nav--logo__animate {
    font-size: 15px;
  }

  .nav--menu {
    display: none;
  }
  .nav--menu__icon {
    padding: 10px;
    font-size: 30px;
    display: block !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header {
    background-color: #f9fff8;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav--logo {
    padding: 10px;
  }
  .nav--logo__title {
    margin-left: 2px;
    margin-left: 40px;
  }
  .nav--logo__animate {
    margin-right: 1px;
  }

  .nav--menu {
    margin-left: 2px;
    padding: 10px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .nav--logo {
    padding: 10px;
    padding-right: 50px !important;
  }
  .nav--logo__title {
    margin-left: 2px;
  }
  .nav--logo__animate {
    margin-right: 1px;
  }

  .nav--menu {
    margin-left: 2px;
    padding: 10px;
  }
  .nav--menu--ul {
    padding-right: 60px;
  }
}
@media only screen and (min-width: 1500px) and (max-width: 2000px) {
  .nav--logo {
    padding: 10px;
  }
  .nav--logo__title {
    padding-left: 75px !important;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .header .nav--logo__title {
    font-size: 30px !important;
    margin-left: 30px !important;
  }
  .header .nav--menu__list a {
    margin: 12px;
    padding: 12px;
    font-weight: 700;
    font-size: 15px;
    color: black;
    transition: 300ms;
  }
  .header .nav--menu__list button {
    padding: 12px;
  }
  .header .nav--menu__list button a {
    padding: 10px;
  }
  .header .nav--menu__icon {
    display: none !important;
  }
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 5px;
  margin-top: 50px;
  position: relative;
}
.hero--animate__square1 {
  top: 15%;
  left: 18%;
  width: 12px;
  height: 12px;
  border-radius: 30%;
  border: 2px solid red;
  transform: rotate(360deg);
  position: absolute;
  animation-name: animatable;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 300ms;
  z-index: -1;
}
.hero--animate__square2 {
  bottom: 10%;
  right: 15%;
  width: 12px;
  height: 12px;
  border-radius: 30%;
  border: 2px solid red;
  transform: rotate(360deg);
  position: absolute;
  animation-name: animatable;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 300ms;
  z-index: -1;
}
.hero--animate__square3 {
  top: 10%;
  right: 20%;
  width: 12px;
  height: 12px;
  border-radius: 30%;
  border: 2px solid red;
  transform: rotate(360deg);
  position: absolute;
  animation-name: animatable;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 300ms;
  z-index: -1;
}
.hero--animate__circle1 {
  top: 35%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid red;
  transform: rotate(360deg);
  position: absolute;
  animation-name: animatable;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 300ms;
  z-index: -1;
}
.hero--animate__circle2 {
  bottom: 10%;
  left: 20%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid red;
  transform: rotate(360deg);
  position: absolute;
  animation-name: animatable;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 300ms;
  z-index: -1;
}
.hero--animate__circle3 {
  bottom: 50%;
  right: 5%;
  width: 120px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid red;
  transform: rotate(360deg);
  position: absolute;
  animation-name: animatable;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 300ms;
  z-index: -1;
}
.hero--animate__heart1 {
  bottom: 20%;
  left: 50%;
  color: blue;
  transform: rotate(360deg);
  position: absolute;
  animation-name: heart;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 300ms;
  z-index: -1;
}
.hero--animate__heart2 {
  top: 10%;
  left: 50%;
  color: blue;
  transform: rotate(360deg);
  position: absolute;
  animation-name: heart;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 300ms;
  z-index: -1;
}
.hero--animate__heart3 {
  bottom: 50%;
  left: 14%;
  color: blue;
  transform: rotate(360deg);
  position: absolute;
  animation-name: heart;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 300ms;
  z-index: -1;
}
@keyframes animatable {
  0% {
    border: 2px solid red;
    transform: rotate(0deg);
  }
  50% {
    border: 2px solid springgreen;
    transform: rotate(180deg);
  }
  100% {
    border: 2px solid blue;
    transform: rotate(360deg);
  }
}
@keyframes heart {
  0% {
    color: red;
    transform: rotate(0deg);
  }
  50% {
    color: green;
    transform: rotate(180deg);
  }
  100% {
    color: blue;
    transform: rotate(360deg);
  }
}
.hero-des {
  width: 350px;
}
.hero-des__title {
  color: #0b0c0c;
  margin: 5px;
  padding: 5px;
}
.hero-des__title__tamil {
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.hero .hero-desc__para {
  margin-top: 30px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: gray;
  text-align: justify;
}
.hero .hero-buttons {
  margin: 15px;
}
.hero .hero-buttons__video {
  margin-right: 10px;
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.hero .hero-buttons__video__icon {
  padding-right: 5px;
}
.hero .hero-buttons__text {
  padding: 10px;
  font-size: 12px;
  border: 1px solid blue;
  color: blue;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.hero .hero-buttons__text:hover {
  background-color: blue;
  color: white;
}
.hero-image-don {
  width: 30rem;
  height: auto;
}

@media only screen and (max-width: 576px) {
  .hero {
    background-color: white;
    flex-direction: column;
    margin-top: 8px !important;
  }
  .hero--animate {
    display: none !important;
  }
  .hero-des {
    width: 250px;
  }
  .hero-des__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    max-width: 200px;
    margin: auto;
  }
  .hero-des__title__tamil {
    padding: 6px;
    font-size: 13px;
  }
  .hero-desc__para {
    font-size: 15px !important;
    font-weight: 400;
    line-height: 22px !important;
    margin-top: 5px !important;
    max-width: 250px;
    margin: auto;
  }
  .hero-buttons {
    margin-top: 20px !important;
    margin-left: 20px !important;
  }
  .hero-buttons__video {
    font-size: 10px !important;
    font-weight: 100 !important;
    padding: 8px !important;
  }
  .hero-buttons__text {
    font-size: 10px !important;
    padding: 8px !important;
  }
  .hero-image-don {
    max-width: 250px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero {
    background-color: white;
    flex-direction: column;
    margin-top: 8px !important;
    position: relative;
  }
  .hero--animate {
    z-index: 1;
  }
  .hero--animate__square1 {
    top: 20%;
    left: 5%;
  }
  .hero--animate__square2 {
    bottom: 20%;
    right: 8%;
  }
  .hero--animate__square3 {
    left: 90%;
  }
  .hero--animate__circle1 {
    top: 11%;
  }
  .hero--animate__circle3 {
    width: 12px;
    height: 12px;
  }
  .hero--animate__heart2 {
    top: 50%;
    left: 60%;
  }
  .hero-des {
    width: 400px;
  }
  .hero-des__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  .hero-des__title__tamil {
    padding: 6px;
    font-size: 18px;
  }
  .hero-desc__para {
    font-size: 20px !important;
    font-weight: 400;
    line-height: 28px !important;
    margin-top: 5px !important;
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  .hero-buttons {
    margin-top: 20px !important;
    margin-left: 70px !important;
  }
  .hero-buttons__video {
    font-size: 12px !important;
    font-weight: 100 !important;
    padding: 10px !important;
    margin-right: 30px !important;
  }
  .hero-buttons__text {
    font-size: 12px !important;
    padding: 10px !important;
  }
  .hero-image-don {
    max-width: 350px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 992px) {
  .hero {
    background-color: white;
    flex-direction: column;
    margin-top: 8px !important;
    position: relative;
  }
  .hero--animate {
    z-index: 1;
  }
  .hero--animate__square1 {
    top: 20%;
    left: 5%;
  }
  .hero--animate__square2 {
    bottom: 20%;
    right: 8%;
  }
  .hero--animate__square3 {
    left: 90%;
  }
  .hero--animate__circle1 {
    top: 11%;
  }
  .hero--animate__circle3 {
    width: 12px;
    height: 12px;
  }
  .hero--animate__heart2 {
    top: 50%;
    left: 60%;
  }
  .hero-des {
    width: 600px;
  }
  .hero-des__title {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    width: 550px;
    margin: auto;
    padding-top: 20px;
  }
  .hero-des__title__tamil {
    padding: 12px;
    font-size: 25px;
  }
  .hero-desc__para {
    font-size: 24px !important;
    font-weight: 400;
    line-height: 39px !important;
    width: 600px;
    margin: auto;
    padding: 20px;
  }
  .hero-buttons {
    margin-top: 20px !important;
    margin-left: 40px !important;
  }
  .hero-buttons__video {
    font-size: 14px !important;
    font-weight: 200 !important;
    padding: 14px !important;
    margin-right: 30px !important;
  }
  .hero-buttons__text {
    font-size: 14px !important;
    padding: 14px !important;
  }
  .hero-image-don {
    max-width: 500px;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    padding: 5px;
    margin-top: 50px;
  }
  .hero-desc__para {
    margin-left: 15px;
  }
  .hero--animate__square1 {
    top: 2%;
    left: 18%;
  }
  .hero--animate__square2 {
    bottom: 40%;
    right: 25%;
    z-index: 1;
  }
  .hero--animate__square3 {
    top: 10%;
    right: 20%;
  }
  .hero--animate__circle1 {
    top: 25%;
    left: 50%;
  }
  .hero--animate__circle2 {
    bottom: 4%;
    left: 20%;
  }
  .hero--animate__circle3 {
    bottom: 55%;
    right: 1%;
  }
  .hero--animate__heart1 {
    bottom: 20%;
    left: 50%;
  }
  .hero--animate__heart2 {
    top: 2%;
    left: 50%;
  }
  .hero--animate__heart3 {
    bottom: 60%;
    left: 4%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .hero-des {
    width: 400px !important;
    margin-right: 80px;
  }
  .hero-des__title {
    line-height: 55px;
  }
  .hero-des__title__tamil {
    font-size: 30px !important;
  }
  .hero .hero-desc__para {
    margin-top: 20px;
    margin-left: 15px;
    line-height: 33px;
    font-size: 22px;
    text-align: justify;
  }
  .hero-image-don {
    width: 30rem;
    height: auto;
    margin-right: 100px;
  }
  .hero .hero-buttons__video {
    margin-right: 20px;
    padding: 12px;
    font-size: 14px;
  }
  .hero .hero-buttons__video__icon {
    padding-right: 6px;
  }
  .hero .hero-buttons__text {
    padding: 12px;
    font-size: 14px;
  }
  .hero--animate__square1 {
    top: 2%;
    left: 18%;
  }
  .hero--animate__square2 {
    bottom: 40%;
    right: 25%;
    z-index: 1;
  }
  .hero--animate__square3 {
    top: 10%;
    right: 20%;
  }
  .hero--animate__circle1 {
    top: 25%;
    left: 50%;
  }
  .hero--animate__circle2 {
    bottom: 2%;
    left: 20%;
  }
  .hero--animate__circle3 {
    bottom: 55%;
    right: 6%;
  }
  .hero--animate__heart1 {
    bottom: 20%;
    left: 50%;
  }
  .hero--animate__heart2 {
    top: 2%;
    left: 50%;
  }
  .hero--animate__heart3 {
    bottom: 65%;
    left: 35%;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .hero {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    margin: 5px;
    padding: 5px;
    margin-top: 50px;
    position: relative;
  }
  .hero--animate__square1 {
    top: 3%;
    left: 18%;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    border: 4px solid red;
    transform: rotate(360deg);
  }
  .hero--animate__square2 {
    bottom: 6%;
    right: 8%;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    border: 4px solid red;
  }
  .hero--animate__square3 {
    top: 1%;
    right: 30%;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    border: 4px solid red;
  }
  .hero--animate__circle1 {
    top: 35%;
    left: 55%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid red;
  }
  .hero--animate__circle2 {
    bottom: 6%;
    left: 25%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid red;
  }
  .hero--animate__circle3 {
    bottom: 50%;
    right: 8%;
    width: 150px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid red;
  }
  .hero--animate__heart1 {
    bottom: 20%;
    left: 50%;
    font-size: 22px;
  }
  .hero--animate__heart2 {
    top: 1%;
    left: 50%;
    font-size: 22px;
  }
  .hero--animate__heart3 {
    bottom: 50%;
    left: 14%;
    font-size: 22px;
  }
  .hero-des {
    width: 700px;
    margin-right: 180px !important;
  }
  .hero-des__title {
    font-size: 35px;
  }
  .hero-des__title__tamil {
    padding: 12px;
    border-radius: 10px;
    color: white;
  }
  .hero .hero-desc__para {
    margin-top: 30px;
    margin-left: 15px;
    line-height: 32px;
    font-size: 24px;
    text-align: justify;
  }
  .hero .hero-buttons {
    margin-top: 30px;
  }
  .hero .hero-buttons__video {
    margin-right: 25px;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
  }
  .hero .hero-buttons__video__icon {
    padding-right: 7px;
  }
  .hero .hero-buttons__text {
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
  }
  .hero-image-don {
    margin-right: 150px;
    width: 35rem;
    height: auto;
  }
}
.about {
  margin: auto;
  background-color: #3535cc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: 5.3rem;
}
.about--image {
  padding: 5px;
  margin-left: 10rem;
}
.about--image1 {
  width: 30rem;
}
.about-desc {
  width: 50%;
  margin-right: 70px;
}
.about-desc h1 {
  color: #cfcfcf;
}
.about-desc P {
  margin-top: 8px;
  color: #b3abab;
  line-height: 25px;
  text-align: justify;
}
.about-desc P a {
  color: #d8cbcb;
  transition: 300ms;
}
.about-desc P a:hover {
  color: white;
}

@media only screen and (max-width: 576px) {
  .about {
    background-color: #3d09f8;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 6px;
  }
  .about--image {
    margin-right: 10rem;
  }
  .about--image1 {
    margin-top: 10px;
    max-width: 250px;
  }
  .about-desc {
    width: 250px;
    margin-top: 20px !important;
    margin: auto;
  }
  .about-desc h1 {
    font-size: 22px;
    line-height: 28px;
  }
  .about-desc p {
    width: 250px;
    font-size: 16px;
    font-weight: 200;
    line-height: 29px;
    padding-top: 4px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .about {
    background-color: #3d09f8;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 6px;
  }
  .about--image {
    margin-right: 10rem;
  }
  .about--image1 {
    margin-top: 10px;
    max-width: 400px;
  }
  .about-desc {
    width: 350px;
    margin-top: 20px !important;
    margin: auto;
  }
  .about-desc h1 {
    font-size: 25px;
    line-height: 28px;
    padding: 10px 0px;
  }
  .about-desc p {
    width: 350px;
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    padding-top: 4px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .about {
    background-color: #3d09f8;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 6px;
  }
  .about--image {
    margin-right: 10rem;
  }
  .about--image1 {
    margin-top: 10px;
    max-width: 600px;
  }
  .about-desc {
    width: 550px;
    margin-top: 20px !important;
    margin: auto;
  }
  .about-desc h1 {
    font-size: 30px;
    line-height: 28px;
    padding: 15px 0px;
  }
  .about-desc p {
    width: 550px;
    font-size: 18px;
    font-weight: 200;
    line-height: 34px;
    padding-top: 4px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .about {
    background-color: #3535cc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: 55px !important;
  }
  .about--image {
    padding: 5px;
    margin-left: 10px !important;
  }
  .about--image1 {
    width: 28rem;
    padding: 40px;
  }
  .about-desc {
    width: 50%;
  }
  .about-desc h1 {
    color: #cfcfcf;
    font-size: 30px;
    padding: 10px 0px;
  }
  .about-desc P {
    margin-top: 8px;
    color: #b3abab;
    line-height: 28px;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 18px !important;
  }
  .about-desc P a {
    color: #d8cbcb;
    transition: 300ms;
  }
  .about-desc P a:hover {
    color: white;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .about {
    margin-top: 55px !important;
  }
  .about--image {
    margin-left: 100px !important;
  }
  .about--image1 {
    width: 30rem;
    padding: 40px 0px;
  }
  .about-desc {
    width: 44%;
    margin-left: 30px !important;
  }
  .about-desc h1 {
    color: #cfcfcf;
    font-size: 30px;
    padding: 10px 0px;
  }
  .about-desc P {
    margin-top: 8px;
    color: #b3abab;
    line-height: 28px;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 20px !important;
  }
  .about-desc P a {
    color: #d8cbcb;
    transition: 300ms;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .about {
    margin-top: 60px !important;
  }
  .about--image {
    padding: 8px;
    margin-left: 220px !important;
  }
  .about--image1 {
    width: 40rem;
    padding: 40px;
  }
  .about-desc {
    width: 42%;
  }
  .about-desc h1 {
    font-size: 32px;
    padding: 10px 0px;
  }
  .about-desc P {
    margin-top: 8px;
    color: #b3abab;
    line-height: 32px;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 24px !important;
  }
}
.road-map--content {
  margin-top: 6rem;
  text-align: center;
}
.road-map--content h1 {
  font-family: "Poppins", sans-serif;
  color: #0e0e0f;
  font-weight: 900;
  font-size: 18px;
  padding: 5px;
  margin: 5px;
}
.road-map--content P {
  color: gray;
  font-size: 13px;
  margin: 5px;
  padding: 5px;
  padding-bottom: 20px;
}
.road-map--content .line {
  margin-top: 20px;
  width: 95px;
  height: 8px;
  border-radius: 20px;
  margin: auto;
  background-image: linear-gradient(to right, #c53d54, #3636c8);
}
.road-map .road-map--items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
}
.road-map .road-map--items1 {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}
.road-map .road-map--items__structure {
  position: relative;
  margin-top: 2.8rem;
  cursor: pointer;
}
.road-map .road-map--items__structure img {
  width: 45px;
  margin: 2rem;
  margin-left: 42px;
}
.road-map .road-map--items__structure h3 {
  font-weight: 400px;
  font-size: 18px;
  color: blue;
  margin-top: 10px;
}
.road-map .road-map--items__structure P {
  color: gray;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 200;
  line-height: 18px;
  width: 200px;
}
.road-map .road-map--items__border {
  position: absolute;
  top: 14px;
  left: 25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px dotted #2310d4;
  transform: rotate(360deg);
  transition: 400ms;
}
.road-map .road-map--items__rightarrow .fas5 {
  position: absolute;
  color: blue;
  font-weight: 600;
  right: 20px;
  cursor: pointer;
  transition: 400ms;
}
.road-map .road-map--items__rightarrow .fasjs {
  visibility: hidden;
  transition: 600ms;
}
.road-map .road-map--items1:hover {
  filter: grayscale(0%);
}
@media only screen and (min-width: 992px) {
  .road-map .road-map--items1:hover .fas5 {
    right: -20px;
  }
}
.road-map .road-map--items1:hover .fasjs {
  visibility: visible;
}
.road-map .road-map--items1:hover .road-map--items__border {
  animation-name: dotAnimation;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes dotAnimation {
  0% {
    transform: rotate(0deg);
    border-color: blue;
  }
  50% {
    transform: rotate(180deg);
    border-color: blue;
  }
  100% {
    transform: rotate(360deg);
    border-color: blue;
  }
}

@media only screen and (max-width: 576px) {
  .road-map {
    margin-bottom: 100px;
  }
  .road-map--items {
    flex-direction: column;
    margin-left: 60px;
  }
  .road-map--items .road-map--items1 {
    flex-direction: column !important;
    margin-bottom: 50px;
    position: relative;
  }
  .road-map--items .road-map--items__structure p {
    width: 200px;
  }
  .road-map--items .road-map--items__rightarrow {
    position: absolute;
    left: 93px;
    top: 250px;
    transition: 500ms;
  }
  .road-map--items .fas5 {
    transform: rotate(89deg);
  }
  .road-map--items .fasjs {
    position: absolute;
    left: -50px;
    padding: 10px;
  }
  .road-map--items .road-map--items1:hover .road-map--items__rightarrow {
    position: absolute;
    left: 93px;
    top: 300px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .road-map {
    margin-bottom: 150px;
  }
  .road-map--items {
    flex-direction: column;
    margin-left: 60px;
  }
  .road-map--items .road-map--items1 {
    flex-direction: column !important;
    margin-bottom: 55px;
    position: relative;
  }
  .road-map--items .road-map--items__structure p {
    width: 200px;
  }
  .road-map--items .road-map--items__rightarrow {
    position: absolute;
    left: 93px;
    top: 250px;
    transition: 500ms;
  }
  .road-map--items .fas5 {
    transform: rotate(89deg);
  }
  .road-map--items .fasjs {
    position: absolute;
    left: -50px;
    padding: 10px;
    margin-bottom: 80px;
  }
  .road-map--items .road-map--items1:hover .road-map--items__rightarrow {
    position: absolute;
    left: 93px;
    top: 300px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .road-map {
    margin-bottom: 150px;
  }
  .road-map--content h1 {
    font-size: 24px;
  }
  .road-map--content p {
    font-size: 18px;
  }
  .road-map--items {
    flex-direction: column;
    margin-left: 60px;
  }
  .road-map--items .road-map--items1 {
    flex-direction: column !important;
    margin-bottom: 55px;
    position: relative;
  }
  .road-map--items .road-map--items__structure h3 {
    font-size: 20px;
  }
  .road-map--items .road-map--items__structure p {
    font-size: 15px;
    width: 200px;
  }
  .road-map--items .road-map--items__rightarrow {
    position: absolute;
    left: 90px;
    top: 250px;
    transition: 500ms;
  }
  .road-map--items .fas5 {
    transform: rotate(89deg);
  }
  .road-map--items .fasjs {
    position: absolute;
    left: -50px;
    padding: 10px;
    margin-bottom: 80px;
  }
  .road-map--items .road-map--items1:hover .road-map--items__rightarrow {
    position: absolute;
    left: 90px !important;
    top: 300px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .road-map--content {
    margin-top: 3rem !important;
    text-align: center;
  }
  .road-map--content h1 {
    font-family: "Poppins", sans-serif;
    color: #0e0e0f;
    font-weight: 900;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
  }
  .road-map--content P {
    color: gray;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 5px;
    padding: 5px;
    padding-bottom: 20px;
  }
  .road-map .road-map--items {
    margin-left: 100px;
    margin-bottom: 40px;
  }
  .road-map .road-map--items1 {
    margin-left: 50px;
  }
  .road-map .road-map--items__structure {
    position: relative;
    margin-top: 2.8rem;
    cursor: pointer;
  }
  .road-map .road-map--items__structure img {
    width: 45px;
    margin: 2rem;
    margin-left: 42px;
  }
  .road-map .road-map--items__structure h3 {
    font-weight: 400px;
    font-size: 18px;
    color: blue;
    margin-top: 10px;
  }
  .road-map .road-map--items__structure P {
    color: gray;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 200;
    line-height: 18px;
    width: 200px;
  }
  .road-map .road-map--items__border {
    position: absolute;
    top: 14px;
    left: 25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px dotted #2310d4;
    transform: rotate(360deg);
    transition: 400ms;
  }
  .road-map .road-map--items__rightarrow .fas5 {
    position: absolute;
    color: blue;
    font-weight: 600;
    right: 20px;
    cursor: pointer;
    transition: 400ms;
  }
  .road-map .road-map--items__rightarrow .fasjs {
    visibility: hidden;
    transition: 600ms;
  }
  .road-map .road-map--items1:hover {
    filter: grayscale(0%);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) and (min-width: 992px) {
  .road-map .road-map--items1:hover .fas5 {
    right: -34px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .road-map .road-map--items1:hover .fasjs {
    visibility: visible;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .road-map--content {
    margin-top: 3rem !important;
    text-align: center;
  }
  .road-map--content h1 {
    font-size: 22px;
    padding: 5px;
    margin: 5px;
  }
  .road-map--content P {
    font-size: 17px;
    letter-spacing: 1px;
    margin: 5px;
    padding: 5px;
    padding-bottom: 20px;
  }
  .road-map .road-map--items {
    margin-left: 100px;
    margin-bottom: 90px;
  }
  .road-map .road-map--items1 {
    margin-left: 50px;
  }
  .road-map .road-map--items__structure {
    position: relative;
    margin-top: 2.8rem;
    cursor: pointer;
  }
  .road-map .road-map--items__structure h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  .road-map .road-map--items__structure P {
    font-size: 16px;
    margin-top: 10px;
    line-height: 19px;
    width: 200px;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .road-map--content {
    margin-top: 5rem;
  }
  .road-map--content h1 {
    font-size: 25px;
    padding: 6px;
    margin: 6px;
  }
  .road-map--content P {
    color: gray;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    padding-bottom: 22px;
  }
  .road-map--content .line {
    margin-top: 20px;
    width: 120px;
    height: 10px;
    border-radius: 20px;
    margin: auto;
  }
  .road-map .road-map--items {
    padding-bottom: 100px;
  }
  .road-map .road-map--items1 {
    margin-left: 150px;
  }
  .road-map .road-map--items__structure {
    position: relative;
    margin-top: 3rem;
  }
  .road-map .road-map--items__structure img {
    width: 50px;
    margin: 2.5rem;
    margin-left: 42px;
  }
  .road-map .road-map--items__structure h3 {
    font-weight: 400px;
    font-size: 19px;
    color: blue;
    margin-top: 10px;
    margin-left: 15px;
  }
  .road-map .road-map--items__structure P {
    color: gray;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 200;
    line-height: 18px;
    width: 200px;
  }
  .road-map .road-map--items__border {
    position: absolute;
    top: 14px;
    left: 20px;
    width: 100px;
    height: 100px;
  }
  .road-map .road-map--items__rightarrow .fas5 {
    font-size: 34px;
    font-weight: 900;
    right: 20px;
    transition: 400ms;
  }
  .road-map .road-map--items__rightarrow .fasjs {
    visibility: hidden;
    transition: 600ms;
  }
  .road-map .road-map--items1:hover .fas5 {
    right: -100px;
  }
  .road-map .road-map--items1:hover .fasjs {
    visibility: visible;
  }
  .road-map .road-map--items1:hover .road-map--items__border {
    animation-name: dotAnimation;
    animation-duration: 400ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes dotAnimation {
    0% {
      transform: rotate(0deg);
      border-color: blue;
    }
    50% {
      transform: rotate(180deg);
      border-color: blue;
    }
    100% {
      transform: rotate(360deg);
      border-color: blue;
    }
  }
}
.courses {
  width: 100%;
  height: auto;
  background-color: #1919d6;
}
.courses--header {
  text-align: center;
  padding-top: 3rem;
}
.courses--header__h3 {
  color: #fefffe;
  font-size: 25px;
  font-weight: 600;
}
.courses--header p {
  color: #c2bdbd;
  margin-top: 4px;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 15px;
}
.courses--body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.courses--body__card {
  width: 260px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}
.courses--body__card:hover {
  box-shadow: 2px 2px 20px 5px rgba(190, 180, 180, 0.6);
}
.courses--body__card__atag {
  text-decoration: none;
}
.courses--body__card__atag__img__ui {
  width: 260px;
}
.courses--body__card__atag__desc {
  margin: 1px;
}
.courses--body__card__atag__desc h4 {
  color: #141313;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}
.courses--body__card__atag__desc p {
  color: gray;
  text-align: justify;
  padding: 5px;
  margin: 15px;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.courses--footer {
  margin-top: 35px;
  text-align: center;
  color: #e2dada;
}
.courses--footer a {
  color: #c8c2c2;
  text-decoration: none;
}
.courses--footer a:hover {
  text-shadow: 2px 2px 10px black;
}

@media only screen and (max-width: 576px) {
  .courses {
    background-color: #1f10eb;
    margin-top: 10px;
    border-radius: 8px;
  }
  .courses .courses--header h3 {
    color: #cfcfcf;
    font-size: 18px;
    font-weight: 300;
  }
  .courses .courses--header p {
    font-size: 13px;
    font-weight: 200;
    padding: 0px 10px;
    color: b3abab;
    line-height: 20px;
  }
  .courses--body {
    flex-direction: column;
    background-color: #3d09f8;
  }
  .courses--body__card {
    margin-bottom: 22px;
  }
  .courses--body__card__atag__img__ui {
    width: 280px;
  }
  .courses--body__card__atag__desc p {
    font-size: 15px;
    line-height: 24px;
    margin-top: 4px;
    padding-bottom: 30px;
  }
  .courses .courses--footer {
    font-size: 15px;
    font-weight: 200;
    padding: 20px;
  }
}
@media only screen and (min-width: 567px) and (max-width: 768px) {
  .courses {
    background-color: #1f10eb;
    margin-top: 10px;
    border-radius: 8px;
  }
  .courses .courses--header h3 {
    color: #cfcfcf;
    font-size: 18px;
    font-weight: 300;
  }
  .courses .courses--header p {
    font-size: 13px;
    font-weight: 200;
    padding: 0px 10px;
    color: b3abab;
    line-height: 20px;
  }
  .courses--body {
    flex-direction: column;
    background-color: #3d09f8;
  }
  .courses--body__card {
    margin-bottom: 22px;
    width: 500px;
  }
  .courses--body__card__atag__img__ui {
    width: 500px;
    height: 300px;
  }
  .courses--body__card__atag__desc h4 {
    font-size: 24px;
  }
  .courses--body__card__atag__desc p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 4px;
    padding-bottom: 30px;
  }
  .courses .courses--footer {
    font-size: 17px;
    font-weight: 200;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .courses {
    background-color: #1f10eb;
    margin-top: 10px;
    border-radius: 8px;
  }
  .courses .courses--header h3 {
    color: #cfcfcf;
    font-size: 25px;
    font-weight: 300;
  }
  .courses .courses--header p {
    font-size: 16px;
    font-weight: 300;
    padding: 0px 10px;
    color: b3abab;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
  .courses--body {
    flex-direction: column;
    background-color: #3d09f8;
  }
  .courses--body__card {
    margin-bottom: 22px;
    width: 500px;
  }
  .courses--body__card__atag__img__ui {
    width: 500px;
    height: 300px;
  }
  .courses--body__card__atag__desc h4 {
    font-size: 24px;
  }
  .courses--body__card__atag__desc p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 4px;
    padding-bottom: 30px;
  }
  .courses .courses--footer {
    font-size: 17px;
    font-weight: 200;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .courses {
    margin-top: 10px;
    border-radius: 8px;
  }
  .courses .courses--header h3 {
    font-size: 30px;
    font-weight: 600;
  }
  .courses .courses--header p {
    padding: 10px !important;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0px;
    letter-spacing: 1px;
  }
  .courses .courses--footer {
    font-size: 17px;
    font-weight: 200;
    padding-bottom: 50px;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .courses {
    background-color: #1f10eb;
    margin-top: 10px;
    border-radius: 8px;
  }
  .courses .courses--header h3 {
    color: #cfcfcf;
    font-size: 30px;
    font-weight: 800;
  }
  .courses .courses--header p {
    padding: 10px !important;
    font-size: 17px;
    font-weight: 300;
    padding: 0px 10px;
    color: b3abab;
    letter-spacing: 1px;
  }
  .courses .courses--footer {
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 50px;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .courses {
    margin-top: 10px;
    border-radius: 10px;
  }
  .courses .courses--header h3 {
    font-size: 30px;
    font-weight: 800;
  }
  .courses .courses--header p {
    padding: 12px !important;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 0px !important;
    letter-spacing: 1px;
  }
  .courses .courses--footer {
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 60px;
    letter-spacing: 1px;
  }
}
.contact {
  background-color: #d4dbd3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
.contact-card {
  width: 70%;
  height: 70%;
  background-color: #f2f3f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.contact-card--form {
  flex-grow: 1;
  height: 100%;
  padding: 20px;
  background-color: #f1f1ec;
}
.contact-card--form h4 {
  padding: 3px;
  padding-left: 5px;
}
.contact-card--form p {
  font-size: 14px;
  font-weight: 200;
  padding-left: 5px;
  margin-bottom: 10px;
  color: #a5a2a2;
}
.contact-card--form .name,
.contact-card--form .email,
.contact-card--form .subject,
.contact-card--form .textarea {
  margin: 5px;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #dbd6d6;
}
.contact-card--form .name:focus,
.contact-card--form .email:focus,
.contact-card--form .subject:focus,
.contact-card--form .textarea:focus {
  border: 2px solid blue;
}
.contact-card--form .textarea {
  resize: none;
  height: 150px;
  font-size: 14px;
}
.contact-card--form .send-btn {
  padding: 8px 15px;
  margin-left: 5px;
  outline: none;
  border: none;
  color: white;
  background-color: #1f1feb;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.contact-card--form .send-btn:hover {
  background-color: blue;
}
.contact-card--img img {
  width: 400px;
  padding-right: 60px;
}

@media only screen and (max-width: 576px) {
  .contact {
    margin-top: 20px;
    display: initial;
  }
  .contact-card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .contact-card--form {
    width: 100%;
    padding: 5%;
  }
  .contact-card--img img {
    width: 250px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .contact {
    margin-top: 20px;
    display: initial;
  }
  .contact-card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .contact-card--form {
    width: 100%;
    padding: 5%;
  }
  .contact-card--img img {
    width: 350px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .contact {
    margin-top: 20px;
    display: initial;
  }
  .contact-card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .contact-card--form {
    width: 100%;
    padding: 5%;
  }
  .contact-card--form h4 {
    font-size: 20px;
  }
  .contact-card--form p {
    font-size: 15px;
  }
  .contact-card .send-btn {
    font-size: 16px;
  }
  .contact-card--img img {
    width: 350px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact-card {
    width: 80%;
    height: 80%;
  }
  .contact-card--form h4 {
    font-size: 24px !important;
    padding: 8px;
  }
  .contact-card--form p {
    font-size: 17px;
    font-weight: 200;
    padding-left: 5px;
    margin-bottom: 10px;
    color: #a5a2a2;
  }
  .contact-card--form .name,
.contact-card--form .email,
.contact-card--form .subject,
.contact-card--form .textarea {
    font-size: 17px;
  }
  .contact-card--form .send-btn:hover {
    background-color: blue;
  }
  .contact-card--img img {
    width: 400px;
    padding-right: 60px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .contact-card {
    width: 80%;
    height: 80%;
  }
  .contact-card--form h4 {
    font-size: 24px !important;
    padding: 8px;
  }
  .contact-card--form p {
    font-size: 17px;
    font-weight: 200;
    padding-left: 5px;
    margin-bottom: 10px;
    color: #a5a2a2;
  }
  .contact-card--form .name,
.contact-card--form .email,
.contact-card--form .subject,
.contact-card--form .textarea {
    font-size: 17px;
  }
  .contact-card--form .send-btn:hover {
    background-color: blue;
  }
  .contact-card--img img {
    width: 400px;
    padding-right: 60px;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .contact-card {
    width: 80%;
    height: 80%;
  }
  .contact-card--form h4 {
    font-size: 25px !important;
    padding: 10px;
  }
  .contact-card--form p {
    font-size: 18px;
    font-weight: 200;
    padding-left: 8px;
    margin-bottom: 12px;
  }
  .contact-card--form .name,
.contact-card--form .email,
.contact-card--form .subject,
.contact-card--form .textarea {
    font-size: 18px;
  }
  .contact-card--form .send-btn {
    font-size: 20px;
  }
  .contact-card--img img {
    width: 600px;
    padding-right: 100px;
  }
}
.footer {
  width: 100%;
  text-align: center;
  height: 190px;
  background-color: #3d09f8;
}
.footer--header h4 {
  color: #e9e3e3;
  padding-top: 25px;
}
.footer--header p {
  color: #aca5a5;
  font-size: 15px;
  padding-top: 5px;
  margin-top: 5px;
  font-weight: 400;
}
.footer--header p a {
  text-decoration: none;
  color: #beb8b8;
  transition: 400ms;
}
.footer--header p a i {
  color: #ee1414;
}
.footer--header p a:hover {
  color: #fcf8f8;
}
.footer--body {
  margin: 10px 0px;
}
.footer--body a i {
  padding: 5px;
  margin: 5px;
  color: #0f0566;
  font-size: 20px;
  font-weight: 600;
  transition: 300ms;
}
.footer--body a i:hover {
  color: #d1c6c6;
}
.footer--footer p {
  color: #afaaaa;
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (max-width: 576px) {
  .footer {
    border-radius: 8px;
  }
  .footer--header {
    margin-top: 10px;
  }
  .footer--header h4 {
    font-size: 15px !important;
    font-weight: 400;
  }
  .footer--header p {
    font-size: 14px !important;
    font-weight: 300;
    padding: 5px !important;
  }
  .footer--body {
    margin: 5px 0px !important;
  }
  .footer--body a i {
    font-size: 15px !important;
  }
  .footer--footer p {
    font-size: 11px !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .footer {
    border-radius: 8px;
  }
  .footer--header {
    margin-top: 10px;
  }
  .footer--header h4 {
    font-size: 15px;
    font-weight: 400;
  }
  .footer--header h4 .fa-smile {
    color: yellow;
  }
  .footer--header p {
    font-size: 14px;
    font-weight: 300;
  }
  .footer--body a i {
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .footer {
    border-radius: 8px;
  }
  .footer--header h4 {
    font-size: 18px;
    font-weight: 400;
  }
  .footer--header h4 .fa-smile {
    color: yellow;
  }
  .footer--header p {
    font-size: 16px;
    font-weight: 300;
  }
  .footer--body a i {
    font-size: 18px;
  }
  .footer--footer P {
    font-size: 13px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer {
    border-radius: 8px;
  }
  .footer--header {
    margin-top: 1px;
  }
  .footer--header h4 {
    font-size: 19px;
    font-weight: 400;
  }
  .footer--header h4 .fa-smile {
    color: yellow;
  }
  .footer--header p {
    font-size: 18px;
  }
  .footer--body a i {
    font-size: 25px !important;
  }
  .footer--footer p {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .footer {
    border-radius: 8px;
  }
  .footer--header {
    margin-top: 1px;
  }
  .footer--header h4 {
    font-size: 20px;
    font-weight: 400;
  }
  .footer--header h4 .fa-smile {
    color: yellow;
  }
  .footer--header p {
    font-size: 18px;
  }
  .footer--body a i {
    font-size: 25px !important;
  }
  .footer--footer p {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .footer {
    height: auto;
  }
  .footer--header h4 {
    font-size: 22px;
    padding-top: 25px;
  }
  .footer--header p {
    color: #aca5a5;
    font-size: 18px;
    padding-top: 15px;
    margin-top: 5px;
    font-weight: 400;
  }
  .footer--body {
    margin: 15px 0px;
  }
  .footer--body a i {
    padding: 6px;
    margin: 6px;
    color: #0f0566;
    font-size: 22px;
    font-weight: 600;
  }
  .footer--footer p {
    font-size: 14px;
    padding-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
