// ABOUT PAGES
.about {
  margin: auto;
  background-color: rgb(53, 53, 204);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: 5.3rem;

  &--image {
    padding: 5px;
    margin-left: 10rem;

    &1 {
      width: 30rem;
    }
  }

  &-desc {
    width: 50%;
    margin-right: 70px;
    h1 {
      color: #cfcfcf;
    }
    P {
      margin-top: 8px;
      color: rgb(179, 171, 171);
      line-height: 25px;
      text-align: justify;
      a {
        color: rgb(216, 203, 203);
        transition: 300ms;
      }
      a:hover {
        color: white;
      }
    }
  }
}
// END ABOUT

//MOBILE DEVIECE ABOUT PAGE IN MEDIA QUERY
@media only screen and (max-width: 576px) {
  .about {
    background-color: rgb(61, 9, 248);
    flex-direction: column;
    margin-top: 40px;
    border-radius: 6px;

    &--image {
      margin-right: 10rem;

      &1 {
        margin-top: 10px;
        max-width: 250px;
      }
    }
    &-desc {
      width: 250px;
      margin-top: 20px !important;
      margin: auto;

      h1 {
        font-size: 22px;
        line-height: 28px;
      }
      p {
        width: 250px;
        font-size: 16px;
        font-weight: 200;
        line-height: 29px;
        padding-top: 4px;
        padding-bottom: 20px;
      }
    }
  }
}

// END MOBILE DEVICE ABOUT PAGE ISN MEDIA QUERY

// ABOUT LANDSCAPE MODE IN MEDIA QUERY

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .about {
    background-color: rgb(61, 9, 248);
    flex-direction: column;
    margin-top: 40px;
    border-radius: 6px;

    &--image {
      margin-right: 10rem;

      &1 {
        margin-top: 10px;
        max-width: 400px;
      }
    }
    &-desc {
      width: 350px;
      margin-top: 20px !important;
      margin: auto;

      h1 {
        font-size: 25px;
        line-height: 28px;
        padding: 10px 0px;
      }
      p {
        width: 350px;
        font-size: 16px;
        font-weight: 200;
        line-height: 30px;
        padding-top: 4px;
        padding-bottom: 20px;
      }
    }
  }
}

// END ABOUT LANDSCAPE MODE IN MEDIA QUERY

// ABOUT TABLET MODE IN MEDIAQUERY
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .about {
    background-color: rgb(61, 9, 248);
    flex-direction: column;
    margin-top: 40px;
    border-radius: 6px;

    &--image {
      margin-right: 10rem;

      &1 {
        margin-top: 10px;
        max-width: 600px;
      }
    }
    &-desc {
      width: 550px;
      margin-top: 20px !important;
      margin: auto;

      h1 {
        font-size: 30px;
        line-height: 28px;
        padding: 15px 0px;
      }
      p {
        width: 550px;
        font-size: 18px;
        font-weight: 200;
        line-height: 34px;
        padding-top: 4px;
        padding-bottom: 20px;
      }
    }
  }
}

// END ABOUT LANDSCAPE MODEIN MEDIA QUERY

//ABOUT PAGE LAPTOPMODE IN MEDIA QUERY
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .about {
    background-color: rgb(53, 53, 204);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: 55px !important;

    &--image {
      padding: 5px;
      margin-left: 10px !important;

      &1 {
        width: 28rem;
        padding: 40px;
      }
    }

    &-desc {
      width: 50%;

      h1 {
        color: #cfcfcf;
        font-size: 30px;
        padding: 10px 0px;
      }
      P {
        margin-top: 8px;
        color: rgb(179, 171, 171);
        line-height: 28px;
        word-spacing: 1px;
        letter-spacing: 1px;
        text-align: justify;
        font-size: 18px !important;

        a {
          color: rgb(216, 203, 203);
          transition: 300ms;
        }
        a:hover {
          color: white;
        }
      }
    }
  }
}

// END ABOUT PAGE LAPTOP IN MEDIA QUERY

// ABOUT PAGE LAPTOP AND PC MODE IN MEDEA QUERY
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .about {
    margin-top: 55px !important;

    &--image {
      margin-left: 100px !important;

      &1 {
        width: 30rem;
        padding: 40px 0px;
      }
    }

    &-desc {
      width: 44%;
      margin-left: 30px !important;

      h1 {
        color: #cfcfcf;
        font-size: 30px;
        padding: 10px 0px;
      }
      P {
        margin-top: 8px;
        color: rgb(179, 171, 171);
        line-height: 28px;
        word-spacing: 1px;
        letter-spacing: 1px;
        text-align: justify;
        font-size: 20px !important;

        a {
          color: rgb(216, 203, 203);
          transition: 300ms;
        }
      }
    }
  }
}
//END ABOUT PAGE LAPTO AND PC MODE IN MEDIA QUERY

//ABOUT PAGE 4K IN MEDIIA QUERY

@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .about {
    margin-top: 60px !important;

    &--image {
      padding: 8px;
      margin-left: 220px !important;

      &1 {
        width: 40rem;
        padding: 40px;
      }
    }

    &-desc {
      width: 42%;

      h1 {
        font-size: 32px;
        padding: 10px 0px;
      }
      P {
        margin-top: 8px;
        color: rgb(179, 171, 171);
        line-height: 32px;
        word-spacing: 1px;
        letter-spacing: 1px;
        text-align: justify;
        font-size: 24px !important;
      }
    }
  }
}

// END ABOUT PAGE 4D IN MEDIA QUERY
