// ABOUT PAGES
.about {
  margin: auto;
  background-color: rgb(53, 53, 204);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: 5.3rem;

  &--image {
    padding: 5px;
    margin-left: 10rem;
    width: 50%;
    &1 {
      width: 30rem;
    }
  }

  &-desc {
    width: 50%;
    margin-right: 70px;
    h1 {
      color: #cfcfcf;
    }
    P {
      margin-top: 8px;
      color: rgb(179, 171, 171);
      line-height: 25px;
      text-align: justify;
      a {
        color: rgb(216, 203, 203);
        transition: 300ms;
      }
      a:hover {
        color: white;
      }
    }
  }
}
// END ABOUT

//MOBILE DEVIECE ABOUT PAGE IN MEDIA QUERY
@media only screen and (max-width: 576px) {
  .about {
    background-color: rgb(61, 9, 248);
    flex-direction: column;
    margin-top: 40px;
    border-radius: 6px;

    &--image {
      margin-right: 18rem;

      &1 {
        margin-top: 10px;
        max-width: 250px;
      }
    }
    &-desc {
      width: 250px;
      margin-top: 20px !important;
      margin: auto;

      h1 {
        font-size: 22px;
        line-height: 28px;
      }
      p {
        width: 250px;
        font-size: 16px;
        font-weight: 200;
        line-height: 29px;
        padding-top: 4px;
        padding-bottom: 20px;
      }
    }
  }
}

// END MOBILE DEVICE ABOUT PAGE ISN MEDIA QUERY

// ABOUT LANDSCAPE MODE IN MEDIA QUERY

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .about {
    background-color: rgb(61, 9, 248);
    flex-direction: column;
    margin-top: 40px;
    border-radius: 6px;

    &--image {
      margin-right: 18rem;

      &1 {
        margin-top: 10px;
        max-width: 400px;
      }
    }
    &-desc {
      width: 350px;
      margin-top: 20px !important;
      margin: auto;

      h1 {
        font-size: 25px;
        line-height: 28px;
        padding: 10px 0px;
      }
      p {
        width: 350px;
        font-size: 16px;
        font-weight: 200;
        line-height: 30px;
        padding-top: 4px;
        padding-bottom: 20px;
      }
    }
  }
}

// END ABOUT LANDSCAPE MODE IN MEDIA QUERY
