// CONTACT FORM
.contact {
  background-color: rgb(212, 219, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;

  &-card {
    width: 70%;
    height: 70%;
    background-color: rgb(242, 243, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;

    &--form {
      flex-grow: 1;
      height: 100%;
      padding: 20px;
      background-color: rgb(241, 241, 236);

      h4 {
        padding: 3px;
        padding-left: 5px;
      }
      p {
        font-size: 14px;
        font-weight: 200;
        padding-left: 5px;
        margin-bottom: 10px;
        color: rgb(165, 162, 162);
      }
      .name,
      .email,
      .subject,
      .textarea {
        margin: 5px;
        padding: 10px;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: rgb(219, 214, 214);
        &:focus {
          border: 2px solid blue;
        }
      }

      .textarea {
        resize: none;
        height: 150px;
        font-size: 14px;
      }
      .send-btn {
        padding: 8px 15px;
        margin-left: 5px;
        outline: none;
        border: none;
        color: rgb(255, 255, 255);
        background-color: rgb(31, 31, 235);
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        &:hover {
          background-color: rgb(0, 0, 255);
        }
      }
    }
    &--img {
      img {
        width: 400px;
        padding-right: 60px;
      }
    }
  }
}
// END CONTACT FORM
// MOBILE  DEVICE RESPONSIVE CONTACTFORM

@media only screen and (max-width: 576px) {
  .contact {
    margin-top: 20px;
    display: initial;

    &-card {
      flex-direction: column;
      width: 100%;
      height: auto;
      &--form {
        width: 100%;
        padding: 5%;
      }
      &--img {
        img {
          width: 250px;
          padding-bottom: 20px;
        }
      }
    }
  }
}
// END MOBILE DEVICE RESPONSIVE CONTACTFORM
// LANDSCAPE MODE IN CONTACT FORM MEDIAQUERY

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .contact {
    margin-top: 20px;
    display: initial;

    &-card {
      flex-direction: column;
      width: 100%;
      height: auto;
      &--form {
        width: 100%;
        padding: 5%;
      }
      &--img {
        img {
          width: 350px;
          padding-bottom: 20px;
        }
      }
    }
  }
}
//END LANDSCAPE MODE IN CONTACT FORM MEDIAQUERY

// CONTACT TABLET DEVICE IN MEDIA QUERY
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .contact {
    margin-top: 20px;
    display: initial;

    &-card {
      flex-direction: column;
      width: 100%;
      height: auto;
      &--form {
        width: 100%;
        padding: 5%;
        h4 {
          font-size: 20px;
        }
        p {
          font-size: 15px;
        }
      }
      .send-btn {
        font-size: 16px;
      }
      &--img {
        img {
          width: 350px;
          padding-bottom: 20px;
        }
      }
    }
  }
}

// END TABLET DEVICE IN MEDIA QUERY

//CONTACT LAPTOP MODE IN MEDIA QUERY
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact {
    &-card {
      width: 80%;
      height: 80%;
      &--form {
        h4 {
          font-size: 24px !important;

          padding: 8px;
        }
        p {
          font-size: 17px;
          font-weight: 200;
          padding-left: 5px;
          margin-bottom: 10px;
          color: rgb(165, 162, 162);
        }
        .name,
        .email,
        .subject,
        .textarea {
          font-size: 17px;
        }
        .send-btn {
          &:hover {
            background-color: rgb(0, 0, 255);
          }
        }
      }
      &--img {
        img {
          width: 400px;
          padding-right: 60px;
        }
      }
    }
  }
}

// END CONTACT LAPTOP MODE IN MEDIA QUERY

//CONTACT PAGE LAPTOP AND PC MODE IN MEDIA QUERY

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .contact {
    &-card {
      width: 80%;
      height: 80%;
      &--form {
        h4 {
          font-size: 24px !important;

          padding: 8px;
        }
        p {
          font-size: 17px;
          font-weight: 200;
          padding-left: 5px;
          margin-bottom: 10px;
          color: rgb(165, 162, 162);
        }
        .name,
        .email,
        .subject,
        .textarea {
          font-size: 17px;
        }
        .send-btn {
          &:hover {
            background-color: rgb(0, 0, 255);
          }
        }
      }
      &--img {
        img {
          width: 400px;
          padding-right: 60px;
        }
      }
    }
  }
}

//END CONTACT PAGE LAPTOPO MODE IN MEDIA
// QUERY

// CONTACT PAGE 4K DEVICE MODE IN MEDIA QUERY
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .contact {
    &-card {
      width: 80%;
      height: 80%;
      &--form {
        h4 {
          font-size: 25px !important;

          padding: 10px;
        }
        p {
          font-size: 18px;
          font-weight: 200;
          padding-left: 8px;
          margin-bottom: 12px;
        }
        .name,
        .email,
        .subject,
        .textarea {
          font-size: 18px;
        }
        .send-btn {
          font-size: 20px;
        }
      }
      &--img {
        img {
          width: 600px;
          padding-right: 100px;
        }
      }
    }
  }
}

// END CONTACT PAGE 4K DEVICE MODE IN MEDIA QUERY
