// COURSES CARDS
.courses {
  width: 100%;
  height: auto;
  background-color: rgb(25, 25, 214);

  // courses--header
  &--header {
    text-align: center;

    padding-top: 3rem;

    &__h3 {
      color: rgb(254, 255, 254);

      font-size: 25px;
      font-weight: 600;
    }
    p {
      color: rgb(194, 189, 189);
      margin-top: 4px;
      margin-bottom: 40px;
      font-weight: 300;
      font-size: 15px;
    }
  }
  // courses body
  &--body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__card {
      width: 260px;
      border-radius: 10px;
      background-color: white;
      overflow: hidden;
      &:hover {
        box-shadow: 2px 2px 20px 5px rgba(190, 180, 180, 0.6);
      }

      &__atag {
        text-decoration: none;

        &__img {
          &__ui {
            width: 260px;
          }
        }

        // card desc
        &__desc {
          margin: 1px;
          h4 {
            color: rgb(20, 19, 19);
            font-weight: 700;
            font-size: 18px;
            text-decoration: none;
            margin-top: 20px;
            text-align: center;
          }
          p {
            color: gray;

            text-align: justify;
            padding: 5px;
            margin: 15px;
            margin-bottom: 10px;
            line-height: 20px;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
          }
        }
      }
    }
  }

  // courses footer
  &--footer {
    margin-top: 35px;
    text-align: center;
    color: rgb(226, 218, 218);
    a {
      color: rgb(200, 194, 194);
      text-decoration: none;
    }
    a:hover {
      // color: yellow;
      text-shadow: 2px 2px 10px black;
    }
  }
}

// END COURSES CARDS

// COURSES PORTRAIT METHOD IN MEDIAQUERY
@media only screen and (max-width: 576px) {
  .courses {
    background-color: rgb(31, 16, 235);
    margin-top: 10px;
    border-radius: 8px;

    .courses--header {
      h3 {
        color: #cfcfcf;
        font-size: 18px;
        font-weight: 300;
      }
      p {
        font-size: 13px;
        font-weight: 200;
        padding: 0px 10px;
        color: b3abab;
        line-height: 20px;
      }
    }

    &--body {
      flex-direction: column;
      background-color: rgb(61, 9, 248);

      &__card {
        margin-bottom: 22px;

        &__atag__img__ui {
          width: 280px;
        }
        &__atag__desc {
          p {
            font-size: 15px;
            line-height: 24px;
            margin-top: 4px;
            padding-bottom: 30px;
          }
        }
      }
    }
    .courses--footer {
      font-size: 15px;
      font-weight: 200;
      padding: 20px;
    }
  }
}
// END COURSES PORTRAIT METHOD IN MEDIAQUERY

// COURSED LANDSCAPE MODE IN MEDIA QUERY

@media only screen and (min-width: 567px) and (max-width: 768px) {
  .courses {
    background-color: rgb(31, 16, 235);
    margin-top: 10px;
    border-radius: 8px;

    .courses--header {
      h3 {
        color: #cfcfcf;
        font-size: 18px;
        font-weight: 300;
      }
      p {
        font-size: 13px;
        font-weight: 200;
        padding: 0px 10px;
        color: b3abab;
        line-height: 20px;
      }
    }

    &--body {
      flex-direction: column;
      background-color: rgb(61, 9, 248);

      &__card {
        margin-bottom: 22px;
        width: 500px;

        &__atag__img__ui {
          width: 500px;
          height: 300px;
        }
        &__atag__desc {
          h4 {
            font-size: 24px;
          }

          p {
            font-size: 18px;
            line-height: 24px;
            margin-top: 4px;
            padding-bottom: 30px;
          }
        }
      }
    }
    .courses--footer {
      font-size: 17px;
      font-weight: 200;
      padding-bottom: 50px;
    }
  }
}
// END COURSES LANDSCAPE MODE IN MEDIA QUERY

// COURSES TABLET MODE IN MEDIA QUERY

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .courses {
    background-color: rgb(31, 16, 235);
    margin-top: 10px;
    border-radius: 8px;

    .courses--header {
      h3 {
        color: #cfcfcf;
        font-size: 25px;
        font-weight: 300;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        padding: 0px 10px;
        color: b3abab;
        letter-spacing: 1px;
        word-spacing: 1px;
      }
    }

    &--body {
      flex-direction: column;
      background-color: rgb(61, 9, 248);

      &__card {
        margin-bottom: 22px;
        width: 500px;

        &__atag__img__ui {
          width: 500px;
          height: 300px;
        }
        &__atag__desc {
          h4 {
            font-size: 24px;
          }

          p {
            font-size: 18px;
            line-height: 24px;
            margin-top: 4px;
            padding-bottom: 30px;
          }
        }
      }
    }
    .courses--footer {
      font-size: 17px;
      font-weight: 200;
      padding-bottom: 50px;
    }
  }
}

// END COURSED TABLET MODE IN MDEDIA QUERY

//COURSES LAPTOP MODE IN MEDIAQUERY

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .courses {
    margin-top: 10px;
    border-radius: 8px;

    .courses--header {
      h3 {
        font-size: 30px;
        font-weight: 600;
      }
      p {
        padding: 10px !important;
        font-size: 16px;
        font-weight: 300;
        padding: 10px 0px;

        letter-spacing: 1px;
      }
    }

    .courses--footer {
      font-size: 17px;
      font-weight: 200;
      padding-bottom: 50px;
      letter-spacing: 1px;
    }
  }
}

// END COURSES LAPTOP MODE IN MEDIAQUERY

// COURSES LAPTOP AND PC MODE IN MEDIAQUERY
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .courses {
    background-color: rgb(31, 16, 235);
    margin-top: 10px;
    border-radius: 8px;

    .courses--header {
      h3 {
        color: #cfcfcf;
        font-size: 30px;
        font-weight: 800;
      }
      p {
        padding: 10px !important;
        font-size: 17px;
        font-weight: 300;
        padding: 0px 10px;
        color: b3abab;
        letter-spacing: 1px;
      }
    }

    .courses--footer {
      font-size: 18px;
      font-weight: 200;
      padding-bottom: 50px;
      letter-spacing: 1px;
    }
  }
}

// END LAPTOP AND PC MODE IN MEDIAQUERY

//COURSES 4K MODE IN MEDIA QUERY
@media only screen and (min-width: 1500px) {
  .courses {
    margin-top: 10px;
    border-radius: 10px;

    .courses--header {
      h3 {
        font-size: 30px;
        font-weight: 800;
      }
      p {
        padding: 12px !important;
        font-size: 18px;
        font-weight: 300;
        padding: 15px 0px !important;

        letter-spacing: 1px;
      }
    }

    .courses--footer {
      font-size: 18px;
      font-weight: 200;
      padding-bottom: 60px;
      letter-spacing: 1px;
    }
  }
}
// END 4K MODE IN MEDIA QUERY
