// FOOTER
.footer {
  width: 100%;
  text-align: center;
  height: 190px;
  background-color: rgb(61, 9, 248);

  &--header {
    h4 {
      color: rgb(233, 227, 227);
      padding-top: 25px;
    }

    p {
      color: rgb(172, 165, 165);
      font-size: 15px;
      padding-top: 5px;
      margin-top: 5px;
      font-weight: 400;

      a {
        text-decoration: none;
        color: rgb(190, 184, 184);

        transition: 400ms;
        i {
          color: rgb(238, 20, 20);
        }
      }

      a:hover {
        color: rgb(252, 248, 248);
      }
    }
  }
  &--body {
    margin: 10px 0px;
    a i {
      padding: 5px;
      margin: 5px;
      color: rgb(15, 5, 102);
      font-size: 20px;
      font-weight: 600;
      transition: 300ms;
    }
    a i:hover {
      color: rgb(209, 198, 198);
    }
  }

  &--footer {
    p {
      color: rgb(175, 170, 170);
      font-size: 12px;
      font-weight: 400;
    }
  }
}
// END FOOTER

// MOBILE DEVICE MEDIAQUERY FOOTER
@media only screen and (min-width: 200px) and (max-width: 576px) {
  .footer {
    border-radius: 8px;
    margin-top: 18px;

    &--header {
      margin-top: 10px;

      h4 {
        font-size: 15px;
        font-weight: 400;
        .fa-smile {
          color: yellow;
        }
      }
      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
    &--body {
      a i {
        font-size: 15px;
      }
    }
  }
}
// END MOBILE DEVICE MEDIA QUERY FOOTER
