// HOME PAGE
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
  position: relative;

  // SQUARE1 ANIMATES
  &--animate__square1 {
    top: 18% !important;
    left: 20% !important;
    width: 10px;
    height: 10px;
    border-radius: 30%;
    border: 2px solid red;
    transform: rotate(360deg);
    position: absolute;
    animation-name: animatable;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 300ms;
    z-index: -1;
  }
  &--animate__square2 {
    bottom: 10%;
    right: 15%;
    width: 10px;
    height: 10px;
    border-radius: 30%;
    border: 2px solid red;
    transform: rotate(360deg);
    position: absolute;
    animation-name: animatable;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 300ms;
    z-index: -1;
  }

  &--animate__square3 {
    top: 13% !important;
    right: 20%;
    width: 10px;
    height: 10px;
    border-radius: 30%;
    border: 2px solid red;
    transform: rotate(360deg);
    position: absolute;
    animation-name: animatable;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 300ms;
    z-index: -1;
  }

  // END SQUARE ANIMATES

  // ANIMATE CIRCLES
  &--animate__circle1 {
    top: 35%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid red;
    transform: rotate(360deg);
    position: absolute;
    animation-name: animatable;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 300ms;
    z-index: -1;
  }
  &--animate__circle2 {
    bottom: 11% !important;
    left: 30% !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid red;
    transform: rotate(360deg);
    position: absolute;
    animation-name: animatable;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 300ms;
    z-index: -1;
  }
  &--animate__circle3 {
    bottom: 50%;
    right: 8% !important;
    width: 100px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid red;
    transform: rotate(360deg);
    position: absolute;
    animation-name: animatable;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 300ms;
    z-index: -1;
  }
  // END CIRCLE ANIMATES

  // ANIMATE HEARS
  &--animate__heart1 {
    bottom: 20%;
    left: 50%;
    color: blue;
    transform: rotate(360deg);
    position: absolute;
    animation-name: heart;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 300ms;
    z-index: -1;
    font-size: 10px;
  }
  &--animate__heart2 {
    top: 10%;
    left: 50%;
    color: blue;
    transform: rotate(360deg);
    position: absolute;
    animation-name: heart;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 300ms;
    z-index: -1;
    font-size: 10px;
  }
  &--animate__heart3 {
    bottom: 50% !important;
    left: 54% !important;
    color: blue;
    transform: rotate(360deg);
    position: absolute;
    animation-name: heart;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 300ms;
    z-index: -1;
    font-size: 10px;
  }

  // END ANIMATE HEARTS

  // ANIMATION SQUARE AND CIRCLES @KEYFRAMES
  @keyframes animatable {
    0% {
      border: 2px solid red;
      transform: rotate(0deg);
    }
    50% {
      border: 2px solid springgreen;
      transform: rotate(180deg);
    }
    100% {
      border: 2px solid blue;
      transform: rotate(360deg);
    }
  }

  // END ANIMATON SQUARE AND CIRCLES @KEYFRAMES

  // ANIMATION HEART @KEYFRAMES
  @keyframes heart {
    0% {
      color: rgb(255, 0, 0);
      transform: rotate(0deg);
    }
    50% {
      color: green;
      transform: rotate(180deg);
    }
    100% {
      color: blue;
      transform: rotate(360deg);
    }
  }
  // END ANIMATION HEART @KEYFRAMES

  // HERO DESCRIPTION AND TITLE

  &-des {
    width: 350px;
    &__title {
      color: rgb(11, 12, 12);
      margin: 5px;
      padding: 5px;
      &__tamil {
        background-color: blue;
        padding: 10px;
        border-radius: 10px;
        color: rgb(255, 255, 255);
      }
    }
  }

  // END HERO DISCREPTION AND TITLE

  // HERO DESC PARA
  .hero-desc__para {
    margin-top: 30px;

    line-height: 30px;
    font-family: $rubik;
    font-size: 18px;
    color: gray;

    text-align: justify;
  }
  // HERO END DESC PARA

  // HERO VIDEO-BTN AND TEXT BUTTONS
  .hero-buttons {
    margin: 15px;
    &__video {
      margin-right: 10px;
      background-color: blue;
      border-radius: 10px;
      padding: 10px;
      border: none;
      outline: none;
      color: white;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      &__icon {
        padding-right: 5px;
      }
    }

    &__text {
      padding: 10px;
      font-size: 12px;
      border: 1px solid blue;
      color: blue;
      border-radius: 10px;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: blue;
        color: white;
      }
    }
  }
  // END HERO VIDEO-BTN AND TEXT BUTTONS

  //  DON- IMAGES
  &-image-don {
    width: 30rem;
    height: auto;
  }
}
// END HOME PAGE

//MOBILE RESPONSIVE MEDIA QUERIES maxwidth 576px
@media only screen and (max-width: 576px) {
  .hero {
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    padding-top: 70px !important;

    scroll-margin-top: 200px;

    &--animate {
      display: none !important;
    }
    &-des {
      width: 200px;
    }
    &-des__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 25px;
      max-width: 200px;
      margin: auto;

      &__tamil {
        padding: 6px;
        font-size: 11px;
      }
    }
    &-desc__para {
      font-size: 13px !important;
      font-weight: 400;
      line-height: 20px !important;
      margin-top: 5px !important;
      max-width: 200px;
      margin: auto;
    }

    &-buttons {
      margin-top: 10px !important;

      &__video {
        font-size: 7px !important;
        font-weight: 100 !important;
        padding: 5px !important;
      }
      &__text {
        font-size: 7px !important;
        padding: 5px !important;
      }
    }

    &-image-don {
      max-width: 200px;
      margin-top: 20px;
    }
  }
}

// END MOBILE RESPONSIVE MEDIA QUERIES

//HOME PAGE LANSCAPE MODE IN MEDIAQUERIES
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero {
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    padding-top: 78px !important;
    position: relative;

    &--animate {
      z-index: 1;
      &__square1 {
        top: 20%;
        left: 5%;
      }
      &__square2 {
        bottom: 20%;
        right: 8%;
      }
      &__square3 {
        left: 90%;
      }
      &__circle1 {
        top: 11%;
      }
      &__circle3 {
        width: 12px;
        height: 12px;
      }
      &__heart2 {
        top: 50%;
        left: 60%;
      }
    }
    &-des {
      width: 400px;
    }
    &-des__title {
      font-size: 18px;
      font-weight: 600;
      line-height: 35px;
      max-width: 400px;
      width: 300px;

      &__tamil {
        padding: 6px;
        font-size: 15px;
      }
    }
    &-desc__para {
      font-size: 15px !important;
      font-weight: 400;
      line-height: 25px !important;
      margin-top: 4px !important;
      max-width: 400px;
      margin: auto;
      padding: 20px;
      letter-spacing: 1px;
    }

    &-buttons {
      margin-top: 10px !important;
      margin-left: 20px !important;
      &__video {
        font-size: 10px !important;
        font-weight: 100 !important;
        padding: 9px !important;
        margin-right: 15px !important;
      }
      &__text {
        font-size: 10px !important;
        padding: 8px !important;
      }
    }

    &-image-don {
      max-width: 250px;
      margin-top: 50px;
    }
  }
}

// END HOME PAGE LANDSCAPEMODE IN MEDIAQUERIES

//HOMEPAGE TABLET MODE IN MEDIA QUERY

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .hero {
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    margin-top: 8px !important;
    position: relative;

    &--animate {
      z-index: 1;
      &__square1 {
        top: 20%;
        left: 5%;
      }
      &__square2 {
        bottom: 20%;
        right: 8%;
      }
      &__square3 {
        left: 90%;
      }
      &__circle1 {
        top: 11%;
      }
      &__circle3 {
        width: 12px;
        height: 12px;
      }
      &__heart2 {
        top: 50%;
        left: 60%;
      }
    }
    &-des {
      width: 600px;
    }
    &-des__title {
      font-size: 28px;
      font-weight: 600;
      line-height: 55px;
      width: 400px;
      margin-left: 35px;

      padding-top: 20px;

      &__tamil {
        padding: 12px;
        font-size: 24px;
      }
    }
    &-desc__para {
      font-size: 24px !important;
      font-weight: 400;
      line-height: 39px !important;
      width: 600px;
      width: 500px;
      margin: auto;
      padding-bottom: 20px;
    }

    &-buttons {
      margin-top: 20px !important;
      margin-left: 50px !important;
      &__video {
        font-size: 14px !important;
        font-weight: 200 !important;
        padding: 14px !important;
        margin-right: 30px !important;
      }
      &__text {
        font-size: 14px !important;
        padding: 14px !important;
      }
    }

    &-image-don {
      max-width: 400px;
      margin-top: 50px;
    }
  }
}

// END HOMPAGE TABLET MODE IN MEDIA QUERY

// HOME PAGE LABTOP DEVICE IN MEDIA QUERY
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px !important;
    padding-bottom: 60px;
    &-des {
      width: 350px;
      &__title {
        color: rgb(11, 12, 12);
        margin: 5px;
        padding: 5px;
        font-size: 20px;
        line-height: 40px;
        &__tamil {
          background-color: blue;
          padding: 10px;
          font-size: 20px !important;

          border-radius: 10px;
          color: rgb(255, 255, 255);
        }
      }
    }
    &-desc__para {
      margin-left: 5px !important;
      font-size: 16px !important;
    }
    &-image-don {
      width: 18rem;
      padding-top: 30px;
    }

    // SQUARE1 ANIMATES
    &--animate__square1 {
      top: 2%;
      left: 18%;
    }
    &--animate__square2 {
      bottom: 40%;
      right: 25%;
      z-index: 1;
    }

    &--animate__square3 {
      top: 10%;
      right: 20%;
    }

    // END SQUARE ANIMATES

    // ANIMATE CIRCLES
    &--animate__circle1 {
      top: 25%;
      left: 50%;
    }
    &--animate__circle2 {
      bottom: 4%;
      left: 20%;
    }
    &--animate__circle3 {
      bottom: 50%;
      right: 5%;
      width: 10px;
      height: 10px;
    }
    // END CIRCLE ANIMATES

    // ANIMATE HEARS
    &--animate__heart1 {
      bottom: 20%;
      left: 50%;
    }
    &--animate__heart2 {
      top: 2%;
      left: 50%;
    }
    &--animate__heart3 {
      bottom: 60%;
      left: 4%;
    }

    // END ANIMATE HEARTS
  }
}

// END HOME PAGE LABPTOP DEVICE IN MEDIA QUERY

// HOME PAGE LARGE LAPTOP AND PC IN MEDIA QUERY

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .hero {
    padding: 138px 0px;
    &-des {
      width: 400px !important;
      margin-right: 80px;
      &__title {
        line-height: 55px;
        font-size: 28px;
        &__tamil {
          font-size: 24px !important;
        }
      }
    }

    .hero-desc__para {
      margin-top: 20px;
      margin-left: 15px;
      line-height: 33px;

      font-size: 18px;

      text-align: justify;
    }
    &-image-don {
      width: 21rem;
      height: auto;
      margin-right: 100px;
    }
    .hero-buttons {
      // margin: 22px;
      &__video {
        margin-right: 20px;
        padding: 12px;
        font-size: 12px;
        &__icon {
          padding-right: 6px;
        }
      }

      &__text {
        padding: 12px;
        font-size: 12px;
      }
    }
    // SQUARE1 ANIMATES
    &--animate__square1 {
      top: 2%;
      left: 18%;
    }
    &--animate__square2 {
      bottom: 40%;
      right: 25%;
      z-index: 1;
    }

    &--animate__square3 {
      top: 10%;
      right: 20%;
    }

    // END SQUARE ANIMATES

    // ANIMATE CIRCLES
    &--animate__circle1 {
      top: 25%;
      left: 50%;
    }
    &--animate__circle2 {
      bottom: 5%;
      left: 20%;
    }
    &--animate__circle3 {
      bottom: 55%;
      right: 6%;
    }
    // END CIRCLE ANIMATES

    // ANIMATE HEARS
    &--animate__heart1 {
      bottom: 20%;
      left: 50%;
    }
    &--animate__heart2 {
      top: 2%;
      left: 50%;
    }
    &--animate__heart3 {
      bottom: 65%;
      left: 35%;
    }

    // END ANIMATE HEARTS
  }
}

// END HOME PAGE LARGE LAPTOP AND PC IN MEDIA QUERY

//HOME PAGE 4K DEVICE IN MEDIA QUERY

@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .hero {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    margin: 5px;
    padding: 5px;
    margin-top: 50px;
    position: relative;

    // SQUARE1 ANIMATES
    &--animate__square1 {
      top: 3%;
      left: 18%;
      width: 20px;
      height: 20px;
      border-radius: 30%;
      border: 4px solid red;
      transform: rotate(360deg);
    }
    &--animate__square2 {
      bottom: 6%;
      right: 8%;
      width: 20px;
      height: 20px;
      border-radius: 30%;
      border: 4px solid red;
    }

    &--animate__square3 {
      top: 1%;
      right: 30%;
      width: 20px;
      height: 20px;
      border-radius: 30%;
      border: 4px solid red;
    }

    // END SQUARE ANIMATES

    // ANIMATE CIRCLES
    &--animate__circle1 {
      top: 35%;
      left: 55%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 4px solid red;
    }
    &--animate__circle2 {
      bottom: 6%;
      left: 25%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 4px solid red;
    }
    &--animate__circle3 {
      bottom: 50%;
      right: 8%;
      width: 150px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid red;
    }
    // END CIRCLE ANIMATES

    // ANIMATE HEARS
    &--animate__heart1 {
      bottom: 20%;
      left: 50%;
      font-size: 22px;
    }
    &--animate__heart2 {
      top: 1%;
      left: 50%;
      font-size: 22px;
    }
    &--animate__heart3 {
      bottom: 50%;
      left: 14%;
      font-size: 22px;
    }

    // END ANIMATE HEARTS

    // HERO DESCRIPTION AND TITLE

    &-des {
      width: 700px;
      margin-right: 180px !important;
      &__title {
        font-size: 35px;
        &__tamil {
          padding: 12px;
          border-radius: 10px;
          color: rgb(255, 255, 255);
        }
      }
    }

    // END HERO DISCREPTION AND TITLE

    // HERO DESC PARA
    .hero-desc__para {
      margin-top: 30px;
      margin-left: 15px;
      line-height: 32px;

      font-size: 24px;

      text-align: justify;
    }
    // HERO END DESC PARA

    // HERO VIDEO-BTN AND TEXT BUTTONS
    .hero-buttons {
      margin-top: 30px;
      &__video {
        margin-right: 25px;

        padding: 15px;
        border-radius: 15px;
        font-size: 15px;

        &__icon {
          padding-right: 7px;
        }
      }

      &__text {
        padding: 15px;
        font-size: 15px;

        border-radius: 15px;
      }
    }
    // END HERO VIDEO-BTN AND TEXT BUTTONS

    //  DON- IMAGES
    &-image-don {
      margin-right: 150px;
      width: 35rem;
      height: auto;
    }
  }
}
//END HOME PAGE 4K DEVICE IN MEDIAQUERY
