// HEADER NAV SECTION
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(238, 232, 232);
  margin: 5px;
  padding: 5px;

  .nav--logo {
    &__title {
      font-weight: 900;
      font-size: 23px;
    }

    &__animate {
      font-family: $mukta;
      animation-name: colorChange;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      transition: 600ms;
    }
    @keyframes colorChange {
      0% {
        color: blue;
      }
      50% {
        color: green;
      }
      75% {
        color: red;
      }
      100% {
        color: blue;
      }
    }
  }

  .nav--menu {
    &--ul {
      display: flex;
      list-style-type: none;
      align-items: center;
    }
    &__list a {
      margin: 8px;
      padding: 8px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: rgb(0, 0, 0);
      transition: 300ms;
    }
    &__list a:hover {
      color: blue;
    }
    &__list button {
      background-color: rgb(45, 45, 233);
      border-radius: 8px;
      border: none;
      outline: none;
      padding: 10px;
      transition: 300ms;
    }
    &__list button:hover {
      background-color: rgb(44, 44, 168);
    }
    &__list button a {
      padding: 5px;
      color: white;
    }
    &__list button a:hover {
      color: white;
    }
  }
  .nav--menu__icon {
    display: none;
  }
}
// END HEADER NAV SECTION;

//MOBILE DEVICE MEDIA QUERY
@media only screen and (max-width: 576px) {
  .header {
    background-color: rgb(249, 255, 248);

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav--logo {
    padding: 9px;
    &__title {
      color: rgb(24, 22, 22);
      font-size: 18px !important;
    }
    &__animate {
      font-size: 10px;
    }
  }
  .nav--menu {
    display: none;
    &__icon {
      padding: 9px;
      font-size: 25px;
      display: block !important;
    }
  }
}
//END MOBILE DEVICE MEDIA QUERY

//NAV SECTION LANSCAPE MODE  MEDIAQUERY
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .header {
    background-color: rgb(249, 255, 248);

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav--logo {
    padding: 9px;
    &__title {
      font-size: 23px !important;
    }
    &__animate {
      font-size: 12px;
    }
  }

  .nav--menu {
    display: none;
    &__icon {
      padding: 9px;
      font-size: 25px;
      display: block !important;
    }
  }
}

//END NAV SECTION LANDSCAPE MODE QUEREYSECLECTOR

//TABLET DEVIICE MEDIAQUERY

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    background-color: rgb(249, 255, 248);

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav--logo {
    padding: 10px;
    &__title {
      font-size: 25px !important;
    }
    &__animate {
      font-size: 15px;
    }
  }

  .nav--menu {
    display: none;
    &__icon {
      padding: 10px;
      font-size: 30px;
      display: block !important;
    }
  }
}
// END TABLET DEVICE MEDIA QUERY

// NAV SECTION LAPTOP DEVICE IN MEDIA QUERY

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header {
    background-color: rgb(249, 255, 248);

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav--logo {
    padding: 10px;

    &__title {
      margin-left: 2px;
      margin-left: 40px;
    }
    &__animate {
      margin-right: 1px;
    }
  }

  .nav--menu {
    margin-left: 2px;
    padding: 10px;
  }
}

// END NAV SECTION LAPTOP DEVICE IN MEDIAQUE
