// HEADER NAV SECTION
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(238, 232, 232);
  // margin: 5px;
  // padding: 5px;

  .nav--logo {
    &__title {
      font-weight: 900;
      font-size: 25px;
    }

    &__animate {
      font-family: $mukta;
      animation-name: colorChange;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      transition: 600ms;
      font-size: 18px;
    }
    @keyframes colorChange {
      0% {
        color: blue;
      }
      50% {
        color: green;
      }
      75% {
        color: red;
      }
      100% {
        color: blue;
      }
    }
  }

  .nav--menu {
    .active {
      color: rgb(0, 17, 255);
    }
    &--ul {
      display: flex;
      list-style-type: none;
      align-items: center;
    }
    &__list a {
      margin: 8px;
      padding: 8px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: rgb(0, 0, 0);
      transition: 300ms;
    }
    &__list a:hover {
      color: blue;
    }
    &__list a button {
      background-color: rgb(45, 45, 233);
      border-radius: 8px;
      border: none;
      outline: none;
      padding: 19px;
      transition: 300ms;
      font-size: 15px;
      cursor: pointer;
    }
    &__list button:hover {
      background-color: rgb(44, 44, 168);
    }

    &__list a button {
      padding: 5px;
      color: white;
    }
    &__list a button:hover {
      color: white;
    }
  }
  .nav--menu__icon {
    display: none;
  }
}
.nav-fixed {
  position: fixed;
  width: 100vw;
  height: 10vh;
  top: 0%;
  right: 0%;
  left: 0%;
  z-index: 100;
  background-color: rgb(255, 255, 255);
}
// END HEADER NAV SECTION;

//MOBILE DEVICE MEDIA QUERY
@media only screen and (max-width: 576px) {
  .header {
    background-color: rgb(251, 251, 251);
    // position: fixed;
    // top:0%;
    // scroll-margin-top: 50px;
    // width: 100vw;
    // height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav--logo {
    padding: 9px;
    &__title {
      color: rgb(24, 22, 22);
      font-size: 13px !important;
    }
    &__animate {
      font-size: 8px !important;
    }
  }
  .nav--menu {
    //nav toggle code

    // NAV--MENU LA DISPLAY:NONE KODUTTHAAL MATTUM .SHOW LA DISPLAY:BLOC; YENDRU KODUKKAVUM. 2) NAV--MENU LA POSITION FIXED KODUTHUTTU DISPLAY NONE KODUKKAMAL TOP RIGHT BOTTOM LEFT LA YEHAVADHU ORU POSITION LA MINUS VALUE KODUTHAAL MARAINDHU VIDUM. PIRAGU .SHOW LA ADHA APPADIYE PLUS VALUE LA MATHUNA VERTICAL MENU SHOW AAGUM.

    // display: none;

    //toggle menu ul code in vertical
    position: fixed;
    top: 9.5%;

    // LEFT IS FIRST AND BEST PRACITSE;
    // left: -100%;
    // right: -100%;
    top: -100%;

    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 231, 231);
    z-index: 1;
    transition: 1s;

    &--ul {
      flex-direction: column;
      justify-content: space-around;
      width: 60%;
      height: 60%;
      margin: auto;
      background-color: rgb(238, 231, 231);
    }
    &--ul li a {
      font-size: 10px !important;
    }
    &--ul li a button {
      font-size: 12px !important;
    }
    // NAV--MENU LA DISPLAY NONE KODUTHAAL MATTUME .SHOW LA DISPLAY BLOCK KODUKKANUM. POSITION FIXED VATCHU TOP OR BOTTOM OR LEFT OR RIGHT LA YEDHAVADHU MINUS VALUE KODUTTHAAL .SHOW LA PLUS VALUE VAAGA MAATRI KOLLAVUM;

    &.show {
      // display: block;
      // position: fixed;
      top: 10%;
      // left: 0%;
      // right: 0%;

      // width: 100vw;
      // height: 100vh;
      // background-color: rgb(238, 231, 231);
      // z-index: 1;
    }

    &__icon {
      padding: 9px;
      font-size: 18px;
      display: block !important;
    }
  }
  .hidden {
    padding: top 2px;
    display: none !important;
  }
}
//END MOBILE DEVICE MEDIA QUERY

//NAV SECTION LANSCAPE MODE  MEDIAQUERY
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header {
    background-color: rgb(249, 255, 248);
  
 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav--logo {
    padding: 9px;
    &__title {
      font-size: 17px !important;
    }
    &__animate {
      font-size: 11px !important;
    }
  }

  .nav--menu {
    //nav toggle code
    // display: none;

    //toggle menu ul code in vertical
    position: fixed;
    top: 10%;
    // LEFT IS FIRST AND BEST PRACITSE;
    left: -100%;
    // right: -100%;

    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 231, 231);
    z-index: 99;
    transition: 0.7s;

    &--ul {
      flex-direction: column;
      justify-content: space-around;
      width: 60%;
      height: 60%;
      margin: auto;
      background-color: rgb(238, 231, 231);
    }
    &--ul li a {
      font-size: 11px !important;
    }
    &--ul li a button {
      font-size: 13px !important;
    }

    &.show {
      left: 0%;
    }

    &__icon {
      padding: 9px;
      font-size: 18px;
      display: block !important;
    }
  }
  .hidden {
    display: none !important;
  }
}

//END NAV SECTION LANDSCAPE MODE QUEREYSECLECTOR

//TABLET DEVIICE MEDIAQUERY

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .header {
    background-color: rgb(249, 255, 248);

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav--logo {
    padding: 10px;
    &__title {
      font-size: 20px !important;
    }
    &__animate {
      font-size: 11px !important;
    }
  }
  .nav--menu {
    //nav toggle code
    // display: none;

    //toggle menu ul code in vertical
    position: fixed;
    top: 14%;
    // LEFT IS FIRST AND BEST PRACITSE;

    // left: -100%;
    right: -100%;

    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 231, 231);
    z-index: 99;
    transition: 1s;

    &--ul {
      flex-direction: column;
      justify-content: space-around;
      width: 65%;
      height: 65%;
      margin: auto;
      padding-top: 15px;
      background-color: rgb(238, 231, 231);
    }

    &.show {
      right: 0%;
    }

    &__icon {
      padding: 9px;
      font-size: 20px;
      display: block !important;
    }
  }
  .hidden {
    display: none !important;
  }
}
// END TABLET DEVICE MEDIA QUERY

// NAV SECTION LAPTOP DEVICE IN MEDIA QUERY

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header {
    background-color: rgb(249, 255, 248);

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav--logo {
    padding: 10px;

    &__title {
      margin-left: 2px;
      margin-left: 40px;
    }
    &__animate {
      margin-right: 1px;
    }
  }

  .nav--menu {
    margin-left: 2px;
    padding: 10px;
  }
}

// END NAV SECTION LAPTOP DEVICE IN MEDIAQUE

// NAV SECTION LARGE LAPTOP AND PC DEVICE IN MEDIAQUERY

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .nav--logo {
    padding: 10px;
    padding-right: 50px !important;
    &__title {
      margin-left: 2px;
    }
    &__animate {
      margin-right: 1px;
    }
  }

  .nav--menu {
    margin-left: 2px;
    padding: 10px;
    &--ul {
      padding-right: 60px;
    }
  }
}

@media only screen and (min-width: 1500px) and (max-width: 2000px) {
  .nav--logo {
    padding: 10px;

    &__title {
      padding-left: 75px !important;
    }
  }
}
// END NAV SECTION LARGE LAPTOP AND PC DEVICE IN MEDIAQUERY

// NAV 4K DEVICE IN MEDIAQUERY
@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .header {
    .nav--logo {
      &__title {
        font-size: 30px !important;
        margin-left: 30px !important;
      }
    }

    .nav--menu {
      &__list a {
        margin: 12px;
        padding: 12px;
        font-weight: 700;
        font-size: 15px;
        color: rgb(0, 0, 0);
        transition: 300ms;
      }

      &__list button {
        padding: 12px;
      }

      &__list button a {
        padding: 10px;
      }
    }
    .nav--menu__icon {
      display: none !important;
    }
  }
}

// END NAV 4K  DEVICE IN MEDIAQUERY
