// THIS IS ROADMAP
.road-map {
  // ROAD MAP CONTENT

  &--content {
    margin-top: 6rem;

    text-align: center;

    h1 {
      font-family: $popins;
      color: rgb(14, 14, 15);
      font-weight: 900;
      font-size: 18px;
      padding: 5px;
      margin: 5px;
    }

    P {
      color: gray;
      font-size: 13px;
      margin: 5px;
      padding: 5px;
      padding-bottom: 20px;
    }

    .line {
      margin-top: 20px;
      width: 95px;
      height: 8px;

      border-radius: 20px;
      margin: auto;
      background-image: linear-gradient(
        to right,
        rgb(197, 61, 84),
        rgb(54, 54, 200)
      );
    }
  }

  // END ROAD MAP CONTENT

  // START ROADMAP ITEMS

  .road-map--items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 50px;

    &1 {
      display: flex;
      justify-content: center;
      align-items: center;
      filter: grayscale(100%);
    }

    &__structure {
      position: relative;
      margin-top: 2.8rem;

      cursor: pointer;
      img {
        width: 45px;
        margin: 2rem;
        margin-left: 42px;
      }
      h3 {
        font-weight: 400px;
        font-size: 18px;
        color: blue;
        margin-top: 10px;
      }

      P {
        color: gray;
        font-size: 15px;
        margin-top: 10px;
        font-weight: 200;
        line-height: 18px;
        width: 200px;
      }
    }

    &__border {
      position: absolute;
      top: 14px;
      left: 25px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 4px dotted rgb(35, 16, 212);
      transform: rotate(360deg);

      transition: 400ms;
    }
  }

  .road-map--items__rightarrow {
    .fas5 {
      position: absolute;
      color: blue;
      font-weight: 600;
      right: 20px;
      cursor: pointer;
      transition: 400ms;
    }
    .fasjs {
      visibility: hidden;
      transition: 600ms;
    }
  }

  .road-map--items1:hover {
    filter: grayscale(0%);
    @media only screen and (min-width: 992px) {
      .fas5 {
        right: -20px;
      }
    }
    .fasjs {
      visibility: visible;
    }

    .road-map--items__border {
      animation-name: dotAnimation;
      animation-duration: 400ms;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      @keyframes dotAnimation {
        0% {
          transform: rotate(0deg);
          border-color: blue;
        }
        50% {
          transform: rotate(180deg);
          border-color: blue;
        }
        100% {
          transform: rotate(360deg);
          border-color: blue;
        }
      }
    }
  }
}

// THIS IS END ROADMAP

// MOBILE DEVICE ROAD MAP IN MEDIAQUIRES
@media only screen and (max-width: 576px) {
  .road-map {
    margin-bottom: 100px;
    &--items {
      flex-direction: column;
      margin-left: 60px;

      .road-map--items1 {
        flex-direction: column !important;
        margin-bottom: 50px;
        position: relative;
      }
      .road-map--items__structure {
        p {
          width: 200px;
        }
      }
      .road-map--items__rightarrow {
        position: absolute;
        left: 93px;
        top: 250px;
        transition: 500ms;
      }
      .fas5 {
        transform: rotate(89deg);
      }

      .fasjs {
        position: absolute;
        left: -50px;
        padding: 10px;
      }
      .road-map--items1:hover {
        .road-map--items__rightarrow {
          position: absolute;
          left: 93px;
          top: 300px;
        }
      }
    }
  }
}
// END MOBILE DEVICE ROADMAP IN MEDIAQUIRIES

//ROADMAP LANDSCAPE MODE IN MEDIAQUERY
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .road-map {
    margin-bottom: 150px;
    &--items {
      flex-direction: column;
      margin-left: 60px;

      .road-map--items1 {
        flex-direction: column !important;
        margin-bottom: 55px;
        position: relative;
      }
      .road-map--items__structure {
        p {
          width: 200px;
        }
      }
      .road-map--items__rightarrow {
        position: absolute;
        left: 93px;
        top: 250px;
        transition: 500ms;
      }
      .fas5 {
        transform: rotate(89deg);
      }

      .fasjs {
        position: absolute;
        left: -50px;
        padding: 10px;
        margin-bottom: 80px;
      }
      .road-map--items1:hover {
        .road-map--items__rightarrow {
          position: absolute;
          left: 93px;
          top: 300px;
        }
      }
    }
  }
}

//END ROADMAP LANDSCAPE MODE IN MEDIAQUERY

// ROADMAPW TABLET MODE IN MEDIAQUERY
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .road-map {
    margin-bottom: 150px;
    &--content {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
    &--items {
      flex-direction: column;
      margin-left: 60px;

      .road-map--items1 {
        flex-direction: column !important;
        margin-bottom: 55px;
        position: relative;
      }
      .road-map--items__structure {
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 15px;
          width: 200px;
        }
      }
      .road-map--items__rightarrow {
        position: absolute;
        left: 90px;
        top: 250px;
        transition: 500ms;
      }
      .fas5 {
        transform: rotate(89deg);
      }

      .fasjs {
        position: absolute;
        left: -50px;
        padding: 10px;
        margin-bottom: 80px;
      }
      .road-map--items1:hover {
        .road-map--items__rightarrow {
          position: absolute;
          left: 90px !important;
          top: 300px !important;
        }
      }
    }
  }
}

// END ROADMAP TABLET MODE IN MEDIAQUERY

//ROADMAP LAPTOP MODE IN MEDIAQUERY
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .road-map {
    // ROAD MAP CONTENT

    &--content {
      margin-top: 3rem !important;

      text-align: center;

      h1 {
        font-family: $popins;
        color: rgb(14, 14, 15);
        font-weight: 900;
        font-size: 20px;
        padding: 5px;
        margin: 5px;
      }

      P {
        color: gray;
        font-size: 16px;

        letter-spacing: 1px;
        margin: 5px;
        padding: 5px;
        padding-bottom: 20px;
      }
    }

    // END ROAD MAP CONTENT

    // START ROADMAP ITEMS

    .road-map--items {
      margin-left: 100px;
      margin-bottom: 40px;
      &1 {
        margin-left: 50px;
      }

      &__structure {
        position: relative;
        margin-top: 2.8rem;

        cursor: pointer;
        img {
          width: 45px;
          margin: 2rem;
          margin-left: 42px;
        }
        h3 {
          font-weight: 400px;
          font-size: 18px;
          color: blue;
          margin-top: 10px;
        }

        P {
          color: gray;
          font-size: 16px;
          margin-top: 10px;
          font-weight: 200;
          line-height: 18px;
          width: 200px;
        }
      }

      &__border {
        position: absolute;
        top: 14px;
        left: 25px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 4px dotted rgb(35, 16, 212);
        transform: rotate(360deg);

        transition: 400ms;
      }
    }

    .road-map--items__rightarrow {
      .fas5 {
        position: absolute;
        color: blue;
        font-weight: 600;
        right: 20px;
        cursor: pointer;
        transition: 400ms;
      }
      .fasjs {
        visibility: hidden;
        transition: 600ms;
      }
    }

    .road-map--items1:hover {
      filter: grayscale(0%);
      @media only screen and (min-width: 992px) {
        .fas5 {
          right: -34px;
        }
      }
      .fasjs {
        visibility: visible;
      }
    }
  }
}
// END LAPTOP MODE IN MEDIAQUERY
