// THIS IS ROADMAP
.road-map {
  width: 100%;
  height: 450px;

  // ROAD MAP CONTENT

  &--content {
    margin-top: 6rem;
    // color: red;
    text-align: center;

    h1 {
      font-family: $popins;
      color: rgb(14, 14, 15);
      font-weight: 900;
      font-size: 18px;
      padding: 5px;
      margin: 5px;
    }

    P {
      color: gray;
      font-size: 13px;
      margin: 5px;
      padding: 5px;
      padding-bottom: 20px;
    }

    .line {
      margin-top: 20px;
      width: 95px;
      height: 8px;

      border-radius: 20px;
      margin: auto;
      background-image: linear-gradient(
        to right,
        rgb(197, 61, 84),
        rgb(54, 54, 200)
      );
    }
  }

  // END ROAD MAP CONTENT

  // START ROADMAP ITEMS

  .road-map--items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    position: relative;
    width: 85%;

    &1 {
      display: flex;
      justify-content: center;
      align-items: center;
      filter: grayscale(100%);
    }

    &__structure {
      position: relative;
      margin-top: 2rem;
      width: 60%;
      cursor: pointer;
      img {
        width: 45px;
        margin: 2rem;
        margin-left: 42px;
      }
      h3 {
        font-weight: 400px;
        font-size: 18px;
        color: blue;
        margin-top: 10px;
      }

      P {
        color: gray;
        font-size: 15px;
        margin-top: 10px;
        font-weight: 200;
        line-height: 18px;
      }
    }

    &__border {
      position: absolute;
      top: 14px;
      left: 25px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 4px dotted rgb(35, 16, 212);
      transform: rotate(360deg);
      margin: auto;
      transition: 400ms;
    }
  }

  .road-map--items__rightarrow {
    .fas5 {
      position: absolute;
      color: blue;
      font-weight: 600;
      right: 20px;
      cursor: pointer;
      transition: 400ms;
    }
    .fasjs {
      visibility: hidden;
      transition: 600ms;
    }
  }

  .road-map--items1:hover {
    filter: grayscale(0%);
    @media only screen and (min-width: 768px) {
      .fas5 {
        right: -20px;
      }
    }
    .fasjs {
      visibility: visible;
    }

    .road-map--items__border {
      animation-name: dotAnimation;
      animation-duration: 400ms;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      @keyframes dotAnimation {
        0% {
          transform: rotate(0deg);
          border-color: blue;
        }
        50% {
          transform: rotate(180deg);
          border-color: blue;
        }
        100% {
          transform: rotate(360deg);
          border-color: blue;
        }
      }
    }
  }
}

// THIS IS END ROADMAP

// MOBILE DEVICE ROAD MAP IN MEDIAQUIRES
@media only screen and (min-width: 200px) and (max-width: 576px) {
  .road-map {
    flex-direction: column;
    margin-top: -50px;
  }
  .road-map--items {
    flex-direction: column;
  }
  .road-map--items1 {
    flex-direction: column !important;
    position: relative;
    // width: 570px;
  }
  .road-map--items__structure {
    width: 400px !important;
    margin: 80px 0px;

    p {
      width: 200px;
    }
  }
  .road-map--items__rightarrow {
    padding: 10px 0px;
    position: absolute;
    left: 93px;
    top: 230px;
    transition: 500ms;
  }
  .fas5 {
    transform: rotate(89deg);
  }

  .fasjs {
    position: absolute;
    left: -50px;
    padding: 10px;
  }
  .road-map--items1:hover {
    .road-map--items__rightarrow {
      position: absolute;
      left: 93px;
      top: 280px;
    }
  }
}
// END MOBILE DEVICE ROADMAP IN MEDIAQUIRIES
